<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=oneMon.Name%></title>
</head>
<body>

    <a href ="/"> Go back home </a>
    <h3>
        You selected: <%=oneMon.PokedexNo%>  <%=oneMon.Name%>
      </h3>
          <div class="pokemonCard">
              <h4>Type: <%=oneMon.Type%> </h4>
              <h4>Moves:</h4> 
              <ul>
                <%oneMon.Moves.forEach((move) => { %>
                <li>
                    <%= move %>
                </li>
                <% }) %> 
            <br><br>
                <a href="/updateMon/<%=oneMon.Name%>">Update this Pokemon</a>     
            <br><br>

                <form action="/api/pokemon/deleteOneMon/<%=oneMon.Name%>?_method=DELETE" method="post">
                  <input type="submit" name="_method" value="DELETE THIS POKEMON">

    
</body>
</html>